[user]
	name = Yogi Rampuria
        email = yogendrarampuria@gmail.com
	
[credential]
	helper = store
[alias]
	reboot = reset --hard
	unstage = reset HEAD --
	last = log -1 HEAD
	new = checkout -b
	st = status
	co = checkout
	ci = commit
	rb = rebase
	br = branch
	df = difftool
	lg = log --graph --pretty=format:'%C(green)%h%Creset -%C(yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	gl = log --graph --pretty=format:'%C(green)%h%Creset -%C(yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	stash-unapply = !git stash show -p | git apply -R

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  # `git di $number` shows the diff between the state `$number` revisions ago and the current state
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
  # Pull in remote changes for the current repository and all its submodules
  p = !"git pull; git submodule foreach git pull origin master"
  # Checkout a pull request from origin (of a github repository)
  pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; pr"	
	
[log]
	decorate = short
[color]
	ui = auto
[pager]
	status = true
	show-branch = true
[push]
	default = simple
[diff]
	tool = vimdiff
[core]
	excludesfile = ~/.gitignore_global
	filemode = false
[merge]
	tool = vimdiff
[pull]
	rebase = true
	ff = only
[stash]
	showPatch = true
[rebase]
	autostash = true
[color "status"]
	added = green
	changed = yellow bold
	untracked = red bold
